@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------- ESTILOS PERSONALIZADOS -------- */

body {
  font-family: 'Inter', sans-serif;
}

/* Fondo del Hero */
.gradient-hero {
  background: linear-gradient(to bottom, #e8f0ff, #ffffff);
}

/* Sombra suave */
.shadow-soft {
  box-shadow: 0px 4px 10px rgba(0,0,0,0.08);
}
